main, footer, ul, ol, li {
    font-size: 15px;
    font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
    color: black;
    background-color: white;
    text-align: center;
  }

a:visited {
    color: purple;
}

a:link {
    color: green;
}

a:hover {
    color: blue;
}

  hr {
    color: black;
  }

  body.header.nav.ul {
    text-align: center;
  }

  ul {
    padding: 50px;
  }

body {
    border: green;
  }

  header {
    text-align: center;
    color: black;
    background-color: white;
    padding: 10px
  }

  nav {
    text-align: center;
    padding-bottom: 50px;
    color: black;
  }

  body header div img {
    background-color: white;
    height: 500px;
    width: 350px;
    margin: 0px 100px 50px 100px;
  }
