main, footer, ul, ol, li, header, nav {
  /* margin, font and color adjustments for these sections */
    font-size: 15px;
    font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
    color: black;
    background-color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
  }

a:visited {
  /* visited color of link */
    color: purple;
}

a:link {
  /* unvisited color of link*/
    color: green;
}

a:hover {
  /*color link turns when mouse hovers over it*/
    color: blue;
}

  hr {
    /*section divider*/
    color: black;
  }

body {
  /* border color should be green*/
    border-color: green;
  }

  body header div img {
    /* sizing the image */
    background-color: white;
    height: 500px;
    width: 350px;
    margin: 5px 100px 50px 100px;
  }
